<h1 class="text-3xl text-blue-400 text-center mt-[20px]"> Thêm sản phẩm</h1>
<section class="bg-gray-100">

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">



        <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
            <form action="" class="space-y-4" method="POST" [formGroup]="productFormCreate" (ngSubmit)="onCreate()">
                <div>
                    <label class="sr-only" for="name">Name</label>
                    <input class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Name" type="text"
                        id="name" formControlName="name" />
                    <div *ngIf="submit && sub['name'].errors ">
                        <span *ngIf="submit && sub['name'].errors['required']" style="color: red;">Tên không được để
                            trống</span>
                    </div>
                </div>

                <div>
                    <label class="sr-only" for="name">Authour</label>
                    <input class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Author" type="text"
                        id="name" formControlName="author" />
                    <div *ngIf="submit && sub['author'].errors ">
                        <span *ngIf="submit && sub['author'].errors['required']" style="color: red;">Tên tác giả không
                            được để trống</span>
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                        <label class="sr-only" for="email">Image</label>
                        <input class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Image" type="text"
                            id="email" formControlName="img" />
                        <div *ngIf="submit && sub['img'].errors">
                            <span *ngIf=" sub['img'].errors['required']" style="color: red;">Ảnh không
                                được để trống</span>
                        </div>
                    </div>

                    <div>
                        <label class="sr-only" for="phone">Price</label>
                        <input class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Price" type="number"
                            id="phone" formControlName="price" />
                        <div *ngIf="submit && sub['price'].errors">
                            <span *ngIf="sub['price'].errors['required']" style="color: red;">Giá không
                                được để trống</span>
                        </div>
                    </div>
                </div>



                <div>
                    <label class="sr-only" for="message">Description</label>

                    <textarea class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Message" rows="8"
                        formControlName="desc" id="message"></textarea>
                    <div *ngIf="submit && sub['desc'].errors">
                        <span *ngIf="sub['desc'].errors['required']" style="color: red;">Mô
                            tả không được để trống</span>
                        <span *ngIf="sub['desc'].errors['minlength']" style="color: red;">Mô
                            tả tối thiểu 10 ký tự</span>
                    </div>

                </div>

                <div class="mt-4">
                    <button type="submit"
                        class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto">
                        Submit
                    </button>
                </div>
            </form>
        </div>

    </div>
</section>